<section class="js-fullscreen intro">
  <div class="js-fullscreen-lead-in fullscreen-fill lead-in-fullscreen">
    <div class="lead-in-container">
      <article class="lead-in-contents">
        <svg class="primary-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="125px" height="70px" viewBox="0 0 251 141" enable-background="new 0 0 251 141" xml:space="preserve">
          <g>
            <g>
              <path fill="#E22D60" d="M225.9,0H25.1L0,50.357h10.04V141h70.28l10.04-45.321V50.357h120.48v45.321h10.04V50.357h7.53V141h12.55
                V50.357H251L225.9,0z M67.77,130.929H22.59v-20.143h45.18V130.929z M67.77,100.714H22.59V80.571h45.18V100.714z M67.77,70.5H22.59
                V50.357h45.18V70.5z"/>
            </g>
          </g>
        </svg>

        <h1>
          <strong class="line primary">Rent an Office in Venice</strong>
          <em class="line secondary">120 Mildred Ave 90291</em>
        </h1>

        <div class="scroll-down">
          <small>Scroll Down</small>

          <svg class="arrow-down" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="8px" height="10px" viewBox="0 0 16.999 20.008" enable-background="new 0 0 16.999 20.008" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M0,11.869l8.5,8.139l8.499-8.139l-1.917-1.861L8.5,16.311
              l-6.582-6.303L0,11.869z"/>
            <path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M0,1.861L8.5,10l8.499-8.139L15.082,0L8.5,6.303
              L1.917,0L0,1.861z"/>
          </svg>
        </div>
      </article>
    </div>
  </div>

  <div class="js-fullscreen-slideshow slideshow-fullscreen">
    <div class="slideshow-container">
      <article class="slideshow-contents">
        <ul>
          <li class="slide-1">
            <h1>
              <strong class="line primary">A pleasant</strong>
              <strong class="line secondary">place to work</strong>
            </h1>
          </li>
        </ul>
      </article>
    </div>
  </div>

  <header class="js-fullscreen-header">
    <div class="left">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="125" height="24px" viewBox="0 0 250.719 48.582" style="enable-background:new 0 0 250.719 48.582;"
        xml:space="preserve">
        <g>
          <g class="logo-shadow">
            <path class="logo-mark-shadow" d="M0.417,26.304H0.004v22.277l18.278-22.277H0.417z M21.268,2C10.005,2,0.754,10.781,0,21.857h0.004
              h0.413h8.518c0.725-6.164,5.978-10.961,12.333-10.961c6.852,0,12.425,5.572,12.425,12.422c0,6.852-5.573,12.426-12.425,12.426
              c-1.521,0-2.985-0.279-4.335-0.785l-0.408,0.502l-5.414,6.598c3.021,1.645,6.483,2.58,10.157,2.58
              c11.757,0,21.319-9.562,21.319-21.319C42.587,11.563,33.024,2,21.268,2z"/>
            <path class="logo-text-shadow" d="M57.223,29.728v4.648h-5.174V16.204h8.668c5.103,0,6.675,1.957,6.675,5.417v2.655
              c0,3.532-1.887,5.452-6.919,5.452H57.223z M60.506,20.361h-3.283v5.243h3.283c1.292,0,1.782-0.524,1.782-1.574v-2.166
              C62.288,20.851,61.798,20.361,60.506,20.361z M83.341,27.492h-5.836v6.885h-5.17V16.204h5.17v6.816h5.836v-6.816h5.174v18.172
              h-5.174V27.492z M94.506,16.204h5.17v18.172h-5.17V16.204z M105.674,16.204h5.172v13.699h7.616v4.476h-12.788V16.204z
               M122.806,28.817V21.76c0-3.145,2.305-5.906,8.002-5.906c5.695,0,8.006,2.761,8.006,5.906v7.06c0,3.146-2.311,5.908-8.006,5.908
              C125.11,34.726,122.806,31.966,122.806,28.817z M130.809,20.327c-1.959,0-2.83,0.768-2.83,2.062v5.799
              c0,1.293,0.871,2.063,2.83,2.063c1.957,0,2.83-0.771,2.83-2.063v-5.799C133.639,21.095,132.766,20.327,130.809,20.327z
               M143.616,33.466l0.841-3.844c1.572,0.457,3.879,0.875,5.802,0.875s2.306-0.386,2.306-1.435c0-1.151-0.207-1.433-3.494-1.957
              c-4.754-0.769-5.241-2.622-5.241-5.941c0-3.983,2.409-5.312,7.196-5.312c1.75,0,4.477,0.278,6.226,0.768l-0.597,4.09
              c-2.027-0.42-3.945-0.628-5.592-0.628c-1.678,0-2.062,0.244-2.062,1.256c0,1.224,0.174,1.398,3.286,1.958
              c5.104,0.909,5.451,2.098,5.451,5.521c0,3.914-1.399,5.908-7.549,5.908C148.089,34.726,145.574,34.308,143.616,33.466z
               M162.654,28.817V21.76c0-3.145,2.307-5.906,8.004-5.906s8.003,2.761,8.003,5.906v7.06c0,3.146-2.306,5.908-8.003,5.908
              C164.961,34.726,162.654,31.966,162.654,28.817z M170.658,20.327c-1.956,0-2.828,0.768-2.828,2.062v5.799
              c0,1.293,0.872,2.063,2.828,2.063c1.959,0,2.83-0.771,2.83-2.063v-5.799C173.488,21.095,172.617,20.327,170.658,20.327z
               M189.128,29.728v4.648h-5.175V16.204h8.67c5.102,0,6.674,1.957,6.674,5.417v2.655c0,3.532-1.887,5.452-6.919,5.452H189.128z
               M192.412,20.361h-3.284v5.243h3.284c1.291,0,1.781-0.524,1.781-1.574v-2.166C194.193,20.851,193.703,20.361,192.412,20.361z
               M215.247,27.492h-5.838v6.885h-5.171V16.204h5.171v6.816h5.838v-6.816h5.174v18.172h-5.174V27.492z M226.412,16.204h5.171v18.172
              h-5.171V16.204z M237.579,16.204h13.14v4.124h-7.967v2.761h7.339v4.124h-7.339v3.041h7.967v4.125h-13.14V16.204z"/>
          </g>
          <g>
            <g>
              <path class="logo-mark" d="M0.417,24.304H0.004v22.277l18.278-22.277H0.417z M21.268,0C10.005,0,0.754,8.781,0,19.857h0.004h0.413h8.518
                C9.66,13.693,14.913,8.896,21.268,8.896c6.852,0,12.425,5.572,12.425,12.422c0,6.852-5.573,12.426-12.425,12.426
                c-1.521,0-2.985-0.279-4.335-0.785l-0.408,0.502l-5.414,6.598c3.021,1.645,6.483,2.58,10.157,2.58
                c11.757,0,21.319-9.562,21.319-21.319C42.587,9.563,33.024,0,21.268,0z"/>
              <path class="logo-text" d="M57.223,27.728v4.648h-5.174V14.204h8.668c5.103,0,6.675,1.957,6.675,5.417v2.655c0,3.532-1.887,5.452-6.919,5.452
                H57.223z M60.506,18.361h-3.283v5.243h3.283c1.292,0,1.782-0.525,1.782-1.574v-2.166C62.288,18.851,61.798,18.361,60.506,18.361z
                 M83.341,25.492h-5.836v6.885h-5.17V14.204h5.17v6.816h5.836v-6.816h5.174v18.172h-5.174V25.492z M94.506,14.204h5.17v18.172
                h-5.17V14.204z M105.674,14.204h5.172v13.699h7.616v4.476h-12.788V14.204z M122.806,26.817V19.76
                c0-3.145,2.305-5.906,8.002-5.906c5.695,0,8.006,2.761,8.006,5.906v7.06c0,3.146-2.311,5.908-8.006,5.908
                C125.11,32.726,122.806,29.966,122.806,26.817z M130.809,18.327c-1.959,0-2.83,0.768-2.83,2.062v5.799
                c0,1.293,0.871,2.063,2.83,2.063c1.957,0,2.83-0.771,2.83-2.063v-5.799C133.639,19.095,132.766,18.327,130.809,18.327z
                 M143.616,31.466l0.841-3.844c1.572,0.457,3.879,0.875,5.802,0.875s2.306-0.386,2.306-1.435c0-1.151-0.207-1.433-3.494-1.957
                c-4.754-0.769-5.241-2.622-5.241-5.941c0-3.983,2.409-5.312,7.196-5.312c1.75,0,4.477,0.278,6.226,0.768l-0.597,4.09
                c-2.027-0.42-3.945-0.628-5.592-0.628c-1.678,0-2.062,0.244-2.062,1.256c0,1.224,0.174,1.398,3.286,1.958
                c5.104,0.909,5.451,2.098,5.451,5.521c0,3.914-1.399,5.908-7.549,5.908C148.089,32.726,145.574,32.308,143.616,31.466z
                 M162.654,26.817V19.76c0-3.145,2.307-5.906,8.004-5.906s8.003,2.761,8.003,5.906v7.06c0,3.146-2.306,5.908-8.003,5.908
                C164.961,32.726,162.654,29.966,162.654,26.817z M170.658,18.327c-1.956,0-2.828,0.768-2.828,2.062v5.799
                c0,1.293,0.872,2.063,2.828,2.063c1.959,0,2.83-0.771,2.83-2.063v-5.799C173.488,19.095,172.617,18.327,170.658,18.327z
                 M189.128,27.728v4.648h-5.175V14.204h8.67c5.102,0,6.674,1.957,6.674,5.417v2.655c0,3.532-1.887,5.452-6.919,5.452H189.128z
                 M192.412,18.361h-3.284v5.243h3.284c1.291,0,1.781-0.525,1.781-1.574v-2.166C194.193,18.851,193.703,18.361,192.412,18.361z
                 M215.247,25.492h-5.838v6.885h-5.171V14.204h5.171v6.816h5.838v-6.816h5.174v18.172h-5.174V25.492z M226.412,14.204h5.171
                v18.172h-5.171V14.204z M237.579,14.204h13.14v4.124h-7.967v2.761h7.339v4.124h-7.339v3.041h7.967v4.125h-13.14V14.204z"/>
            </g>
          </g>
        </g>
      </svg>
    </div
    ><div class="right">
      <a href="mailto:leo@gophilosophie.com">Reserve</a>
    </div>
  </header>
</section>

<section class="details">
  <div class="contents">
    <article class="details-availability">
      <span class="badge">
        Office
        <em>Available</em>
        <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="80px" height="45px" viewBox="0 0 251 141" enable-background="new 0 0 251 141" xml:space="preserve">
          <g>
            <g>
              <path fill="#202020" d="M225.9,0H25.1L0,50.357h10.04V141h70.28l10.04-45.321V50.357h120.48v45.321h10.04V50.357h7.53V141h12.55
                V50.357H251L225.9,0z M67.77,130.929H22.59v-20.143h45.18V130.929z M67.77,100.714H22.59V80.571h45.18V100.714z M67.77,70.5H22.59
                V50.357h45.18V70.5z"/>
            </g>
          </g>
        </svg>
      </span>
      <a href="mailto:leo@gophilosophie.com" class="button grey">
        Reserve the office
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="5.601px" height="10.822px" viewBox="0 0 5.601 10.822" enable-background="new 0 0 5.601 10.822" xml:space="preserve">
          <g>
            <path fill="#202020" d="M1.5,10.822L0,9.722l3.241-4.321L0,1.1L1.5,0l4.101,5.401L1.5,10.822z"></path>
          </g>
        </svg>
      </a>
    </article

    ><article class="details-left">
      <h2>Available On Site</h2>
      <ul class="list">
        <li>800 sqft of space </li>
        <li>8 Fully prepared Workstations </li>
        <li>1 Block from the beach. </li>
        <li>High Speed Internet at 50mbs Download. </li>
        <li>Fully stocked Kitchen and bathroom</li>
        <li>Fresh Bottled Water delivered biweekly</li>
        <li>Secure deck-space with 24/7 access </li>
      </ul>
    </article

    ><article class="details-right">
      <h2>About Your Neighbor</h2>
      <p><a href="http://gophilosophie.com" target="_blank">philosophie</a> practices agile development. We deploy small, dedicated teams to each project in order to maximize focus and efficiency. Our process is designed to limit client risk and improve product quality.</p>
    </article>
  </div>
</section>

<section id="map-canvas"></section>

<section class="photo-bar">
  <ul>
    <li><%= image_tag "photo_bar/boardwalk.jpg", height: 150 %></li>
    <li><%= image_tag "photo_bar/canals.jpg", height: 150 %></li>
    <li><%= image_tag "photo_bar/performer.jpg", height: 150 %></li>
    <li><%= image_tag "photo_bar/poke.jpg", height: 150 %></li>
    <li><%= image_tag "photo_bar/produce.jpg", height: 150 %></li>
    <li><%= image_tag "photo_bar/sign.jpg", height: 150 %></li>
    <li><%= image_tag "photo_bar/surfboard.jpg", height: 150 %></li>
    <li><%= image_tag "photo_bar/tennis.jpg", height: 150 %></li>
  </ul>
</section>

<footer>
  <h1>Ready to go?</h1>
  <a href="mailto:leo@gophilosophie.com" class="button pink">
    Contact Us
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="5.601px" height="10.822px" viewBox="0 0 5.601 10.822" enable-background="new 0 0 5.601 10.822" xml:space="preserve">
      <g>
        <path fill="#202020" d="M1.5,10.822L0,9.722l3.241-4.321L0,1.1L1.5,0l4.101,5.401L1.5,10.822z"></path>
      </g>
    </svg>
  </a>
</footer>